.course-header {
    border-left: 14%;
    margin-left: 14%;
}

.course-code {
    font-size: 1.4em;
    font-weight: bold;
}

.course-info {
    padding-left: 15%;
}

.btn-cart {
    float: right;
    margin-right: 21%;
}

.course-info-span {
    font-size: 1.2em;
    font-weight: bold;
}