#formEntry {
    text-align: center;
}

.text-area {
    width: 25%;
    border-radius: 4px;
}

input.less-wide {
    width: 25%;
    display: inline-block;
    font-size: 1.5em;
}

.form-label {
    display: inline-block;
    font-size: 13pt;
    color: #444444;
    font-family: 'Lato', sans-serif;
    margin-bottom: 1.2%;
    left: -10%;
    font-size: 1.5em;
}