<!doctype html>
<html>
<head>
    <title>TA Application Platform</title>
</head>
<body>
<div>
    <h1>Login or Register</h1>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <a href="/more">More</a>
</div>
</body>
</html>