<!doctype html>
<html>
<head>
    <title>Profile</title>
</head>
<body>
    <div>
        <h1>Profile Page</h1>
        <a href="/logout">Logout</a>
    </div>
    <div>
        <div>
            <div>
                <h3>User</h3>
                <p>
                    <strong>email</strong>: <%= user.studentnumber %><br>
                    <strong>password</strong>: <%= user.password %>
                </p>
            </div>
        </div>
    </div>
</body>
</html>